# Python
*.pyc
__pycache__/
.env/
.vscode/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS & Windows system files
.DS_Store
Thumbs.db

# Airflow
airflow.db
airflow.cfg
logs/
